[Unit]
Description=project_1

[Service]
Type=simple
WorkingDirectory=/usr/local/app/webscraping_1
ExecStart=/usr/local/app/webscraping_1/venv/bin/python3.12 main.py
StandardOutput=syslog
Restart=always
RestartSec=2
User=root

[Install]
WantedBy=multi-user.target